#root {
  width: 100dvw;
  /* max-width: 1280px; */
  margin: 0 0;
  text-align: center;
  /* border: 1px solid white; */
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100dvw;
  min-height: 100dvh;
  /* border: 1px solid white; */
}

header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-self: stretch;
  /* border-bottom: 1px solid white; */
}
header img {
  max-height: 3rem;
}

nav {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;

  min-height: calc(100dvh - 4rem - 10px);

  justify-content: center;

  align-self: stretch;

  border: 1px solid orange;
  border-radius: 10px;
}

.salut {
  /* margin-top: 25%;
  margin-bottom: 25%; */
}

.cards {
  margin: 3rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.card {
  background: #f4ebd3;
  width: 9em;
  height: 12em;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  -webkit-box-shadow: 0px 0px 40px -20px #f4ebd3;
  box-shadow: 0px 0px 40px -20px #f4ebd3;
}

.pokemon-name {
  display: flex;
  align-content: center;
  font-size: 0.9em;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* border: 1px solid #000; */
  max-width: 7em;
}

.pokemon-image {
  min-width: 70%;
  display: flex;
  overflow: hidden;
}

.pokemon-image img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.show-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.types-list {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.type-item {
  background: #f4ebd3;

  padding: 0.5em;
  border-radius: 8px;
}
